<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
	<div class="w-100 container head">
		<div class="w-35 f-left">
			<img th:attr="src=@{/images/logo-sernanp.jpeg}" src="../public/images/logo-sernanp.jpeg" class="logo"
				title="SERNANP" alt="Template 01 - Proyecto SERNANP" />
		</div>
		<div class="w-65 f-right">
			<h3 class="text-center">DDE - UOF Políticas y Prospectivas</h3>
			<h6 class="text-center">BIENESTAR HUMANO</h6>
		</div>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th rowspan="2" class="w-40">SERVICIO ECOSISTÉMICO PRIORIZADOS</th>
					<th colspan="2">BIENESTAR HUMANO</th>
				</tr>
				<tr>
					<th>COMPONENTE DEL BIENESTAR HUMANO ASOCIADO AL SERVICIO</th>
					<th>DESCRIPCIÓN DEL COMPONENTE ASOCIADO</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">SE 1</td>
					<td class="text-center">C01</td>
					<td class="text-center">DCO01</td>
				</tr>
				<tr>
					<td class="text-center">SE 2</td>
					<td class="text-center">C02</td>
					<td class="text-center">DCO02</td>
				</tr>
				<tr>
					<td class="text-center">SE 3</td>
					<td class="text-center">C03</td>
					<td class="text-center">DCO03</td>
				</tr>
				<tr>
					<td class="text-center">SE 4</td>
					<td class="text-center">C04</td>
					<td class="text-center">DCO04</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>