<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
	<div class="w-100 container head">
		<div class="w-35 f-left">
			<img th:attr="src=@{/images/logo-sernanp.jpeg}" src="../public/images/logo-sernanp.jpeg" class="logo"
				title="SERNANP" alt="Template 01 - Proyecto SERNANP" />
		</div>
		<div class="w-65 f-right">
			<h3 class="text-center">DDE - UOF Políticas y Prospectivas</h3>
			<h3 class="text-center">Visión</h3>
		</div>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Visión</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1 w-80">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>PREGUNTAS ORIENTADORAS PARA CONSTRUIR UNA VISIÓN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>• ¿A dónde se quiere en los próximos 20 años?</td>
				</tr>
				<tr>
					<td>• ¿Cómo queremos que sea la situación del área protegida en 20 años?</td>
				</tr>
				<tr>
					<td>• ¿Cómo se espera ver los ecosistemas, especies, procesos y servicios ecosistémicos en los próximos 20 años?</td>
				</tr>
				<tr>
					<td>• ¿Qué actividades económicas o expectativas de uso se esperan mantener o incorporar sin afectar las condiciones de los ecosistemas, especies y procesos?</td>
				</tr>
				<tr>
					<td>• ¿Qué y cómo se espera ver a los actores y su relación con la Jefatura del ANP?</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1 w-80">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th colspan="2">Matriz de criterios para la construcción de la visión</th>
				</tr>
				<tr>
					<th class="w-50">CRITERIOS</th>
					<th class="w-50">CARACTERÍSTICAS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>data</td>
					<td>data</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>