<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container mt-1">
        <table class="w-100">
            <thead class="text-center">
                <tr>
                    <th colspan="2" class="f-weight">Estructura del Plan Maestro </th>
                </tr>
                <tr>
                    <th class="w-30 d-none"></th>
                    <th class="w-70 d-none"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Área Natural Protegida:</td>
                    <td>(Especificar ANP)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <table class="box-border w-100">
            <thead class="text-center">
                <tr>
                    <th colspan="2">PLAN MAESTRO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w-20 box-border f-weight">I. Visión</td>
                    <td class="w-80 box-border"></td>
                </tr>
                <tr>
                    <td class="w-20 box-border f-weight">II. Estado Situacional de los elementos priorizados</td>
                    <td class="w-80 box-border">
                        Caracterización de los elementos
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border f-weight">III. Objetivos:</td>
                    <td class="w-80 box-border">Objetivos, indicadores, línea base, meta, supuestos</td>
                </tr>
                <tr>
                    <td class="w-20 box-border f-weight">IV. Estrategias y resultados</td>
                    <td class="w-80 box-border">
                        Descripción de la estrategia
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border f-weight"></td>
                    <td class="w-80 box-border">
                        Cuadro: Estrategias, resultados, indicadores, metas, medio de verificación, supuestos,
                        actividades principales y compromisos
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border f-weight">IV. Zonificación</td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Mapa de zonificación</td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Criterios, condiciones y normas de uso por zona</td>
                </tr>
                <tr>
                    <td class="w-20 box-border f-weight">VI. Zona de amortiguamiento</td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Mapa de Zona de amortiguamiento</td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Memoria descriptiva</td>
                </tr>
                <tr>
                    <td class="w-20 box-border f-weight">Anexos</td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Indice de anexos</td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Mapa de actores</td>
                    <td class="w-80 box-border">
                        cargar excel, pdf, word, jpg
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Radar de la participación</td>
                    <td class="w-80 box-border">
                        cargar
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Mapa base del ANP</td>
                    <td class="w-80 box-border">
                        cargar
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Mapa de ecosistemas</td>
                    <td class="w-80 box-border">
                        obtener de zonificación pdf
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Cuadro priorización de elementos</td>
                    <td class="w-80 box-border">
                        EF1 los cuadros priorizados pdf
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Cuadro priorización de amenazas</td>
                    <td class="w-80 box-border">
                        EF6 Matriz de priorización y amenazas (2 cuadros últimos)
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Modelo conceptual</td>
                    <td class="w-80 box-border">
                        obtiene atrás cmap y jpg
                    </td>
                </tr>
                <tr>
                    <td class="w-20 box-border">Cadena de resultado</td>
                    <td class="w-80 box-border">
                        obtiene atrás pdf
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>