<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="w-100 container" style="height:100px">
		<div class="w-35 f-left">
			<img th:attr="src=@{/images/logo-sernanp.jpeg}" src="../public/images/logo-sernanp.jpeg" class="logo"
				title="SERNANP" alt="Template 01 - Proyecto SERNANP" />
		</div>
		<div class="w-65 f-right">
			<h3 class="text-center">Direción de Desarrollo Estratégico UOF Políticas y Prospectivas</h3>
			<h4 class="text-center"> <u>Informe de incorporación de precisiones</u></h4>
		</div>
	</div>
	<div class="container">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th colspan="2">INCORPORACIÓN DE PRECISIONES <br></br> Precisiones realizadas por DDE</th>
				</tr>
				<tr>
					<th class="w-30 d-none"></th>
					<th class="w-70 d-none"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Unidad Operativa Funcional</td>
					<td></td>
				</tr>
				<tr>
					<td>Especialista responsable</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Etapa del Proceso</th>
					<th>Redacción en el documento</th>
					<th>Sugerencia de redacción alternativa </th>
					<th>Sustento técnico y/o legal </th>
					<th>Incorporación (Sí/No)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Elementos priorizados</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Visión</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Objetivos del Plan Maestro</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Modelo Conceptual</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Estrategias y Cadena de resultados</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Zonificación</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Zona de Amortiguamiento</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
   <div class="container">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th colspan="2">Precisiones realizadas por OTROS</th>
				</tr>
				<tr>
					<th class="w-30 d-none"></th>
					<th class="w-70 d-none"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Institución</td>
					<td></td>
				</tr>
				<tr>
					<td>Responsable</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Etapa del Proceso</th>
					<th>Redacción en el documento</th>
					<th>Sugerencia de redacción alternativa </th>
					<th>Sustento técnico y/o legal </th>
					<th>Incorporación (Sí/No)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Elementos priorizados</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Visión</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Objetivos del Plan Maestro</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Modelo Conceptual</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Estrategias y Cadena de resultados</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Zonificación</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Zona de Amortiguamiento</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>