<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
	<div class="w-100 container" style="height:100px">
		<div class="w-35 f-left">
			<img th:attr="src=@{/images/logo-sernanp.jpeg}" src="../public/images/logo-sernanp.jpeg" class="logo"
				title="SERNANP" alt="Template 01 - Proyecto SERNANP" />
		</div>
		<div class="w-65 f-right">
			<h3 class="text-center">DDE - UOF Políticas y Prospectivas</h3>
			<h4 class="text-center">Matríz de Planificación Estratégica</h4>
		</div>
	</div>
	<div class="container">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>VISIÓN A 20 AÑOS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="6" class="text-center"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th class="w-25">Objetivo</th>
					<th class="w-25">Indicador</th>
					<th class="w-25">Meta</th>
					<th class="w-25">Supuesto</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">Obj01</td>
					<td class="text-center">Ind01</td>
					<td class="text-center">Meta01</td>
					<td class="text-center">Supuesto01</td>
				</tr>
				<tr>
					<td class="text-center">Obj02</td>
					<td class="text-center">Ind02</td>
					<td class="text-center">Meta02</td>
					<td class="text-center">Supuesto02</td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead>
				<tr>
					<th colspan="11">Objetivo, estrategias, resultados, actividades y compromisos</th>
				</tr>
				<tr>
					<th colspan="11">Objetivo:</th>
				</tr>
				<tr class="text-center">
					<th rowspan="2">Estrategia</th>
					<th rowspan="2">Resultado</th>
					<th rowspan="2">Indicador</th>
					<th rowspan="2">Meta</th>
					<th colspan="5">Meta Anual</th>
					<th rowspan="2">Actividades</th>
					<th rowspan="2">Supuesto (por estrategia)</th>
				</tr>
				<tr class="text-center">
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">Estra01</td>
					<td class="text-center">Resul01</td>
					<td class="text-center">Ind01</td>
					<td class="text-center">meta01</td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center">acti01</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center">Estra02</td>
					<td class="text-center">Resul02</td>
					<td class="text-center">Ind02</td>
					<td class="text-center">meta02</td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center">acti02</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center">Estra03</td>
					<td class="text-center">Resul03</td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center">Estra04</td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center">Estra05</td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th colspan="11">Actividades y compromisos por resultado</th>
				</tr>
				<tr>
					<th rowspan="2" colspan="2">Resultado</th>
					<th rowspan="2" colspan="2">Actividades</th>
					<th colspan="5">Año</th>
					<th rowspan="2" colspan="2">Compromisos</th>
				</tr>
				<tr>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2" class="text-center">Resul01</td>
					<td colspan="2" class="text-center">acti01</td>
					<td class="text-center">X</td>
					<td class="text-center">X</td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td colspan="2" class="text-center">comp1</td>
				</tr>
			<tr>
					<td colspan="2" class="text-center">Resul02</td>
					<td colspan="2" class="text-center">acti02</td>
					<td class="text-center"></td>
					<td class="text-center">X</td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td colspan="2" class="text-center">comp2</td>
				</tr>
			<tr>
					<td colspan="2" class="text-center">Resul03</td>
					<td colspan="2" class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center">X</td>
					<td class="text-center"></td>
					<td colspan="2" class="text-center"></td>
				</tr>
				
			</tbody>
		</table>
	</div>
</body>
</html>