<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
	<div class="w-100 container" style="height:100px">
		<div class="w-35 f-left">
			<img th:attr="src=@{/images/logo-sernanp.jpeg}" src="../public/images/logo-sernanp.jpeg" class="logo"
				title="SERNANP" alt="Template 01 - Proyecto SERNANP" />
		</div>
		<div class="w-65 f-right">
			<h3 class="text-center">Direción de Desarrollo Estratégico UOF Políticas y Prospectivas</h3>
			<h3 class="text-center">Objetivos del Plan Maestro</h3>
		</div>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>VISION A 20 AÑOS</th>
					<th>OBJETIVO A 5 AÑOS</th>
					<th>JUSTIFICAR OBJETIVO</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>data</td>
					<td>data</td>
					<td>data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1 w-80">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Objetivo = Verbo (en infinitivo) + condición de cambio + sujeto</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>• Verbo: refleja la dirección del cambio que se desea lograr en la condición identificada en el sujeto. Evitar en su redacción los verbos “contribuir, apoyar, procurar, impulsar o promover” debido a que no declaran concretamente la responsabilidad y el curso de acción.</td>
				</tr>
				<tr>
					<td>• Condición de cambio: se refiere a la característica o situación que se desea cambiar</td>
				</tr>
				<tr>
					<td>• Sujeto: el ciudadano (individuos, conjunto de personas, colectivos u organizaciones) o entrono (conjunto de aspectos del medio socioeconómico o del ambiente) cuya condición se desea cambiar.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1 w-80">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th colspan="2">Matriz de criterios para la construcción de la visión</th>
				</tr>
				<tr>
					<th class="w-40 d-none"></th>
					<th class="w-60 d-none"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>data</td>
					<td>data</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>