<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
	<div class="w-100 container head">
		<div class="w-35 f-left">
			<img th:attr="src=@{/images/logo-sernanp.jpeg}" src="../public/images/logo-sernanp.jpeg" class="logo"
				title="SERNANP" alt="Template 01 - Proyecto SERNANP" />
		</div>
		<div class="w-65 f-right">
			<h3 class="text-center">DDE - UOF Políticas y Prospectivas</h3>
			<h6 class="text-center">Matriz de condición actual y futura</h6>
		</div>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>ELEMENTOS DE CONSERVACIÓN  PRIORIZADOS</th>
					<th>ATRIBUTOS</th>
					<th>CONDICIÓN ACTUAL Y TENDENCIA*</th>
					<th>CONDICIÓN FUTURA DESEADA</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Elemento ambiental ecosistema 1</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
				</tr>
				<tr>
					<td>Elemento ambiental ecosistema 2</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
				</tr>
				<tr>
					<td>Elemento ambiental ecosistema 3</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
				</tr>
				<tr>
					<td>Elemento ambiental especie 1</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
				</tr>
				<tr>
					<td>Elemento ambiental especie 2</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
				</tr>
				<tr>
					<td>Elemento servicio ecosistémico 1</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
				</tr>
				<tr>
					<td>Elemento servicio ecosistémico 1</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
				</tr>
				<tr>
					<td colspan="4">*Según la información disponible</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>CONSIDERACIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1) La condición actual para la conservación de la biodiversidad es el conjunto de características estructurales y funcionales que se pueden identificar en un ecosistema, especie y proceso y que son necesarias para que éstos mantengan su proceso evolutivo natural. </td>
				</tr>
				<tr>
					<td>2) Los elementos ambientales y servicios ecosistémicos cuentan con atributos ecológicos, tales como estructura, composición biológica, patrones de variación en el espacio, interacciones, factores bióticos o abióticos, regímenes ambientales y presiones. </td>
				</tr>
				<tr>
					<td>3) La condición final es la condición deseada o el objetivo del cambio, la cual se espera alcanzar como resultado de la gestión del ANP y de la implementación de los respectivos planes maestros.  Esta condición final nos debe permite visibilizar el cambio logrado, es en ese sentido que se constituye en un insumo indispensable para la construcción de la visión.</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>