<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
	<div class="w-100 container head">
		<div class="w-35 f-left">
			<img th:attr="src=@{/images/logo-sernanp.jpeg}" src="../public/images/logo-sernanp.jpeg" class="logo"
				title="SERNANP" alt="Template 01 - Proyecto SERNANP" />
		</div>
		<div class="w-65 f-right">
			<h3 class="text-center">DDE - UOF Políticas y Prospectivas</h3>
			<h6 class="text-center">Priorización de Servicios Ecosistémicos</h6>
		</div>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th rowspan="2" class="w-40">Criterio</th>
					<th colspan="5">Especies Identificadas</th>
				</tr>
				<tr>
					<th>SS.EE 1</th>
					<th>SS.EE 2</th>
					<th>SS.EE 3</th>
					<th>SS.EE 4</th>
					<th>SS.EE 5</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
				</tr>
				<tr class="text-center">
					<th>PUTAJE FINAL</th>
					<th>0</th>
					<th>0</th>
					<th>0</th>
					<th>0</th>
					<th>0</th>
				</tr>
			</tbody>
		</table>
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th colspan="4">SERVICIOS ECOSISTÉMICOS PRIORIZADOS</th>
				</tr>
				<tr>
					<th>Elemento</th>
					<th class="w-10">Puntuación</th>
					<th class="w-10">Selección (Si/No)</th>
					<th>Sustento técnico</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td>data</td>
				</tr>
				<tr>
					<td>data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td>data</td>
				</tr><tr>
					<td>data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td>data</td>
				</tr><tr>
					<td>data</td>
					<td class="text-center">data</td>
					<td class="text-center">data</td>
					<td>data</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>