<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
	<div class="w-100 container head">
		<div class="w-35 f-left">
			<img th:attr="src=@{/images/logo-sernanp.jpeg}" src="../public/images/logo-sernanp.jpeg" class="logo"
				title="SERNANP" alt="Template 01 - Proyecto SERNANP" />
		</div>
		<div class="w-65 f-right">
			<h3 class="text-center">DIRECCIÓN DE DESARROLLO ESTRATÉGICO UOF Políticas y Prospectivas</h3>
		</div>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead>
				<tr>
					<th class="w-50 d-none"></th>
					<th class="w-50 d-none"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>De:</td>
					<td th:text="${de}">data</td>
				</tr>
				<tr>
					<td>Asunto:</td>
					<td th:text="${asunto}">data</td>
				</tr>
				<tr>
					<td>Referencia:</td>
					<td th:text="${referencia}">data</td>
				</tr>
				<tr>
					<td>Fecha:</td>
					<td th:text="${fecha}">data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead>
				<tr>
					<th>Nombre de ANP</th>
					<td th:text="${anpname}">data</td>
					<th class="text-center">Observaciones/Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th rowspan="2">Tipo de seguimiento</th>
					<td>data</td>
					<td>data</td>
				</tr>
				<tr>
					<td>data</td>
					<td>data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th colspan="4">Criterios utilizados para la evaluación del Plan Maestro vigente</th>
				</tr>
				<tr>
					<th>Criterio</th>
					<th>Subtemas</th>
					<th>Cumple (Sí/No)</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>data</td>
					<td>data</td>
					<td class="w-10 text-center">data</td>
					<td>data</td>
				</tr>
				<tr>
					<td colspan="2">data</td>
					<td class="w-10 text-center">data</td>
					<td>data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Insumos empleados</th>
					<th>Cumple (Sí/No)</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="w-60">data</td>
					<td class="w-10 text-center">data</td>
					<td class="w-30">data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Sobre la matriz de evaluación</th>
					<th>Cumple (Sí/No)</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="w-60">data</td>
					<td class="w-10 text-center">data</td>
					<td class="w-30">data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Sobre el informe de evaluación</th>
					<th>Cumple (Sí/No)</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="w-60">data</td>
					<td class="w-10 text-center">data</td>
					<td class="w-30">data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Conclusiones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th>Recomendaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">data</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>