<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
	<div class="container mt-1">
		<table class="w-100">
			<thead class="text-center">
				<tr>
					<th colspan="2" class="f-weight">FORMATO: Conformación de Grupo de Interés por Estrategia</th>
				</tr>
				<tr>
					<th class="w-30">Estrategia</th>
					<th class="w-70">Actores que conforma grupos de interes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Estrategia priorizada 1</td>
					<td></td>
				</tr>
				<tr>
					<td>Estrategia priorizada 2</td>
					<td></td>
				</tr>
				<tr>
					<td>Estrategia priorizada 3</td>
					<td></td>
				</tr>
				<tr>
					<td>Estrategia priorizada n</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>